<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">My Trips</h1>

          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>


<% case current_user.user_type %>
  <% when 'valet' %>
       <div class="section_heading">
<h1 class= "section-heading" style="color:black;font-size:300%; font-family:'Francois One', sans-serif">My Assignments</h1>
<table id="jobs_style">

  <thead>
    <tr>
      <th>Bike</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Time</th>
      <th>Valet Assigned</th>
      <th>Current Status</th>
      <th>Client Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

 <tbody>
 </div>
</div>
      <% if current_user %>
      <% current_user.jobs.each do |job| %>
      <tr>
        <td><%= job.bike.bike_full %></td>
        <td><%= job.origin %></td>
        <td><%= job.destination %></td>
        <td><%= job.time.strftime("%B %d, %Y") %></td>
        <td><%= job.time.strftime("%I:%M:%S %p") %></td>
        <td><%= job.valet_id %></td>
        <td><%= job.status %></td>
        <td><%= job.user.fullname %></td>

        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'In_Transit', notify_user_path(:id => job.id, :subject => 'Your bicycle is on its way!'), method: :put, data: { confirm: 'Are you sure you want to email customer?' } %></td>
        <td><%= link_to 'Delivered', notify_user_path(:id => job.id, :subject => 'Your bicycle has been delivered'), method: :put, data:  { confirm: 'Are you sure you want to email customer?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>


<% case current_user.user_type %>
  <% when 'valet' %>
  <h1>All Assignments</h1>
<% end %>

<% case current_user.user_type %>
          <% when 'client' %>
          <div class="section_heading">
<h1 class= "section-heading" style="color:black;font-size:300%;font-family:'Francois One',sans-serif;"></h1>
<% end %>

<div class="section_heading">
<table id="jobs_style">

  <thead>
    <tr>
      <th>Bike</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Time</th>
      <th>Valet Assigned</th>
      <th>Current Status</th>
      <th>Client Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
</div>

 <tbody>
</div>
      <% @jobs.each do |job| %>
      <tr>
        <td><%= job.bike.bike_full %></td>
        <td><%= job.origin %></td>
        <td><%= job.destination %></td>
        <td><%= job.time.strftime("%B %d, %Y") %></td>
        <td><%= job.time.strftime("%I:%M:%S %p") %></td>
        <% case current_user.user_type %>
        <% when 'valet' %>
          <% if job.valet_id != nil %>
            <td>Already assigned</td>
          <% else %>
            <%= form_with(model: job, local: true) do |form| %>
            <%= form.hidden_field :valet_id, id: :job_valet_id, :value => current_user.id %>
            <td><%= submit_tag 'Work' %></td>
          <% end %>
        <% end %>
        <% when 'client' %>
          <td><%= job.valet_id %></td>
        <% end %>
        <td><%= job.status %></td>
        <td><%= job.user.fullname %></td>
        <td><%= link_to 'Show', job %></td>
              <td><%= link_to 'Edit', edit_job_path(job) %></td>
              <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>


<br>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPJJsoaUUfc25r2O8ZSHIv5pFRHPHgaIc"></script>
<%= javascript_include_tag "map" %>
<% case current_user.user_type %>
<% when 'valet' %>
<div id="map"></div>
<% end %>

<br>
<%= button_to 'New Trip', new_job_path, :method => :get, :class => 'newJobButton' %>
