

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, id: :user_fullname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address %>
  </div>

  <div class="field">
    <%= form.label :phone_num %>
    <%= form.number_field :phone_num, id: :user_phone_num %>
  </div>

  <div class="field">
    <%= form.label :user_type %>
    <%= form.select :user_type, options_for_select([["Client", "client"], ["Valet", "valet"]]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <p><%= link_to "Skip for now", jobs_path %>  or <%= link_to "add a bike", new_bike_path %></p>
<% end %>
