<p id="notice"><%= notice %></p>
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Users</h1>

          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="section_heading">
<h1 class= "section-heading" style="color:brown;font-size:300%;font-family:'Contrail One',cursive;">My Profile</h1>

<div class="section_heading">
<table id="profile_style">

  <thead>
    <tr>
      <th>Fullname</th>
      <th>Address</th>
      <th>Phone num</th>
      <th>User type</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fullname %></td>
        <td><%= user.address %></td>
        <td><%= user.phone_num %></td>
        <td><%= user.user_type %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</div>
</div>
</table>

<br>
