<p id="notice"><%= notice %></p>
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">My Profile</h1>


          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="section_heading">
<h1 class= "section-heading" style="color:purple;font-size:300%">Account Details</h1>
<i class="fa fa-user-circle" aria-hidden="true"></i>
<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @user.phone_num %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
