<p id="notice"><%= notice %></p>
<ul>
	  <li><a class="active" href="/">HOME</a></li>
	  <li><a href="/bikes">bikes</a></li>
	  <li><a href="/jobs">jobs</a></li>
	  <% if user_signed_in? %>
	  	<li><%= link_to('LOGOUT', destroy_user_session_path, method: :delete) %></li>
	  	<li><%= current_user.email %></li>
		<li><%= link_to "Settings", edit_user_registration_path %></li>
	  <% else %>
	  	<li><%= link_to "login", new_user_session_path %></li>
     	<li><%= link_to"signup", new_user_registration_path %> </li>
     	<li><%= link_to "Become a Valet", valet_sign_up_path %></li>
	  <% end %>
<ul>