<%= form_with(model: bike, local: true) do |form| %>
  <% if bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %><br>
    <%= form.text_field :make, id: :bike_make %>
  </div>
  <br>

  <div class="field">
    <%= form.label :model %><br>
    <%= form.text_field :model, id: :bike_model %>
  </div>
  <br>
  <div class="field">
    <%= form.label :color %><br>
    <%= form.text_field :color, id: :bike_color %>
  </div>
  <br>
  <div class="field">
    <%= form.label :image %>
  </div>

  <div>
  <%= file.field.tag :image, id: :bike_image %>
  </div>

  <%= form.submit id: :submit_post %>

<% end %>
