<p id="notice"><%= notice %></p>

<!--<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Bikes</h1>

          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>-->

<table>
  <thead>
    <tr>
      <th></th>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= link_to 'details', bike %><i class="glyphicon glyphicon-search"></i></td>
        <td><%= bike.make %></td>
        <td><%= bike.model %></td>
        <td><%= bike.color %></td>

        <td><%= image_tag (bike.image.url) if bike.image? %></td>
        <td><%= bike.user.email %></td>

        <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
        <td><%= link_to 'Delete', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new bike', new_bike_path %> |
<%= link_to "Create a new request", new_job_path %>
