<p id="notice"><%= notice %></p>

<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">My Bikes</h1>

          </a>
        </div>
      </div>
    </div>
  </div>
</header>


<table id="bikes_style">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Image</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>

        <td><%= link_to bike.make, bike, data: {behavior: "bike-link", bike_id: bike.id} %></td>
        <td><%= link_to bike.model, bike, data: {behavior: "bike-link", bike_id: bike.id} %></td>
        <td><%= link_to bike.color, bike, data: {behavior: "bike-link", bike_id: bike.id} %></td>
        <td><%= image_tag(bike.image) %></td>
        <td><%= link_to 'Details', bike %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= button_to 'Add Bike', new_bike_path, :method => :get, :class => 'newJobButton' %>
<%= button_to 'New Request', new_job_path, :method => :get, :class => 'newJobButton' %>
