<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @bike.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bike.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @bike.color %>
</p>

<p>
  <%= image_tag (@bike.image) %>
</p>


<%= link_to "Create a request", new_job_path(bike_id: @bike.id) %> |

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Delete', @bike, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', bikes_path %>

