<!DOCTYPE html>
<html>
  <head>
    <title>Blitz</title>
    <%= csrf_meta_tags %>



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
  
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>




    <body id="page-top">

    <%= render partial: "home/navbar" %>


     <%= yield %>


<script type="text/javascript"> $(function ()
          { $("#show_job").modal({show:false });
    </script>






  </body>
</html>
